 @{
    ViewData["Title"] = "Tools";
}
@model StuffSwapClient.Models.Tool;
 @using StuffSwapClient.Models;
<h1>All tools registered</h1>
<ol>
@foreach(Tool tool in Model)
{   
    <ul>
        <li>@tool.ToolName </li>
    </ul>
}
</ol> 
