@{
    ViewData["Title"] = "Tools";
}

 @using StuffSwapClient.Models;
 <h1>All tools registered</h1>
<ol>
@foreach(Tool tool in Model)
{   
    <ul>
        <li>@Html.ActionLink($"{tool.ToolName}","Details", new { id = tool.ToolId} ) </li>
    </ul>
}
</ol> 

<p>@Html.ActionLink("Add a Tool", "Create")</p>