@{
    Layout = "_Layout";
}

<div class="text-center">
    <h1 class="display-4">Welcome to Stuff Swap!</h1>

    <p>click to see tools <a href="/tools">All tools</a></p>
    <p>click to all users <a href="/users">All users</a></p>
</div>


