@{
    Layout = "_Layout";
}

<div class="text-center">
    <h1 class="display-4">Welcome to Stuff Swap!</h1>

<h2>A sharing community right here in Portland, Oregon</h2>
<hr>
<h3>This is a a tool/equipment/hobby supply library that has no physical warehouse , and doesn't need to be staffed by equiptment librarians. Come learn a little more about us!</h3>


    
    @* <p>click to see tools <a href="/tools">All tools</a></p>
    <p>click to all users <a href="/users">All users</a></p> *@


</div>


