@import url('https://fonts.googleapis.com/css2?family=Kodchasan:ital@1&display=swap');

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
  font-family: 'Kodchasan';
}



