@import url('https://fonts.googleapis.com/css2?family=Kodchasan:ital@1&display=swap');

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
  font-family: 'Kodchasan';
  background-color: rgb(238, 227, 218);
}

img {

border-width: 20px;
border-style: double;
border-radius: 5px;
border-color: rgb(206, 164, 122);
}

.index-img {

  border-width: 3px;
  border-style: solid;
  border-radius: 5px;
  border-color: rgb(206, 164, 122);
  }



